/**My CSS**/

.bakery {
    margin-top: 300px;
}
.textabout {
    background-color: #ffffff;
    padding: 1em;
    padding-left: 100px;
    padding-right: 100px;
}
.picture {
   display: flex;
}
.hamburgerimage {
    
    height: 36px;
}

body {
    background-color: #efefef;
}

#abouttext {
    color: rgb(249, 249, 249);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/**Base**/

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: rgb(67, 51, 51);
}

.dark-bg {
    background-color: #3c594a;
}


.image-container {
    position: relative;
}

/*Buttons*/
.btn-signup {
    background-color: #8bdd94;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #185d22;
}

.link {
    color: #8bdd94;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #a1eca6;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #8be7a0;
    background: transparent;
    border: none;
}

/*Testing*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("https://res.cloudinary.com/dqgykcdbd/image/upload/e_art:incognito/v1666044275/pexels-valeria-boltneva-1251198_q51fqh.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 0;
  }

#navbarText {
    background-color: #3c594a;
}

#booktablepicture {
    width: 100%;
    height: 100vh;
    background: url("https://res.cloudinary.com/dqgykcdbd/image/upload/e_art:incognito/v1666085242/pexels-igor-starkov-1307698_mjesl6.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 0;
  }

#header{
    color: #ffffff;
}
