{% extends "base.html" %} 
{% block content %}
{% load cloudinary %}
{% load crispy_forms_tags %}


<div class="col-md-4 card mb-4  mt-3 ">
    <div class="card-body">
        <!-- For later -->
        
        <h1>Book A Table</h1>
        {% if user.is_authenticated %}
        <form method="POST" style="margin-top: 1.3em;">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Book</button>
        </form>
        {% else %}
        
        <p>You have to <a href="{% url 'log_in' %}">log in</a> or <a href="{% url 'sign_up' %}">sign up</a> to be able to book a table</p>
        
        {% endif %} 
    </div>
</div>

{% endblock content %}