{% extends "base.html" %}

{% block content %}
<div class="container marketing">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <h2>About Us</h2>
            <br>
            <p class="font-monospace">Welcome to Foody's menu page. All our costumers decide by themself what to put in theuir hamburgers. All burgers are plant-based 
                and containe soybeans and peas and with a little pinch of quionoa. You can choose between some of our freschly baked bread, afterwards you choose what to put in your 
                burger and last, but absolutly not least, sideorders! And best thing is that all menus cost 15$. 
            </p>
        </div>

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="static/images/bread.jpg"  class="bd-placeholder-img rounded-circle" width="140" height="140" </img>

        <h2 class="fw-normal">Choose Your bread</h2>
        <p>
            <li class="font-monospace">Dark bread based on oats</li>
            <li class="font-monospace">White bread based on flour</li>
            <li class="font-monospace">White bread based on oats</li>
            <li class="font-monospace">Bread without milk and butter based on oats</li>
        </p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

  {%endblock%}