{% extends "base.html" %}

{% block content %}
<div class="container marketing">
  <h2>Menu</h2>
    <div class="row">
        <div class="col-md-7">
            
            <p class="font-monospace">Welcome to Foody's menu page. All our costumers decide by themself what to put in theuir hamburgers. All burgers are plant-based 
                and containe soybeans and peas and with a little pinch of quionoa. You can choose between some of our freschly baked bread, afterwards you choose what to put in your 
                burger and last, but absolutly not least, sideorders! And best thing is that all menus cost 15$. 
            </p>
        </div>

    <!-- The bread options-->
  <div class="row">
    <div class="col-md-4">
      <h4 class="font-monospace">Choose Your bread</h4>
      <figure class="figure">
        <img src= static/images/bread.jpg class="figure-img img-fluid rounded" alt='bread'>
        <figcaption class="figure-caption"><li class="font-monospace">Dark bread based on oats</li>
          <li class="font-monospace">White bread based on flour</li>
          <li class="font-monospace">White bread based on oats</li>
          <li class="font-monospace">Bread without milk and butter based on oats</li></figcaption>
      </figure>
    </div><!-- the hamburger content options -->
    <div class="col-md-4">
      <h4 class="font-monospace">Content</h4>
        <figure class="figure">
          <img src= static/images/bread.jpg class="figure-img img-fluid rounded" alt='bread'>
          <figcaption class="figure-caption"><li class="font-monospace">Vegetables: Cuecumber, tomate, onion, sallad</li>
            <li class="font-monospace">Regular Cheese or Vegan Cheese</li>
            <li class="font-monospace">Our special souce or ketchup and majones</li></figcaption>
        </figure>
    </div><!-- the sideorder options -->
    <div class="col-md-4">
      <h4 class="font-monospace">Sideorder</h4>
      <figure class="figure">
        <img src= static/images/bread.jpg class="figure-img img-fluid rounded" alt='bread'>
        <figcaption class="figure-caption"><li class="font-monospace">Fries</li>
          <li class="font-monospace">Sweet potato fries</li>
          <li class="font-monospace">Carrot sticks</li></figcaption>
      </figure>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>


  {%endblock%}