{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <h2>My Bookings</h2>
            {% for booking in bookings %}
            <div class="card-body">
                <ul class="font-monospace">
                    <li class='mb-2'>Name: {{ booking.name | safe }}</li>
                    <li class='mb-2'>Email: {{ booking.email | safe }}</li>
                    <li class='mb-2'>Guests: {{ booking.guests | safe }}</li>
                    <li class='mb-2'>Time: {{ booking.time | safe }}</li>
                    <li class='mb-2'>Date: {{ booking.date | safe }}</li>
                    <td>
                        <a href="/edit/{{booking.id}}">
                            <button>Edit Booking</button>
                        </a>
                    </td>
                    <td>
                        <a href="/delete/{{booking.id}}">
                            <button>Delete Booking</button>
                        </a>
                    </td>
                </ul>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}